body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ff4d6d, #ff99ac);
  overflow: hidden;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}

h1 {
  color: white;
  font-size: 35px;
  margin-bottom: 10px;
}

h2 {
  color: white;
  font-size: 22px;
  margin-bottom: 30px;
}

.btn-box {
  position: relative;
  height: 80px;
  width: 300px;
  margin: auto;
}

.btn {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.yes {
  background-color: #00c853;
  color: white;
  margin-right: 15px;
}

.yes:hover {
  transform: scale(1.1);
}

.no {
  background-color: #ff1744;
  color: white;
  position: absolute;
}

.video-box {
  margin-top: 20px;
}

iframe {
  border-radius: 20px;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.4);
}

.back-btn {
  text-decoration: none;
  background: white;
  padding: 10px 18px;
  border-radius: 12px;
  color: #ff1744;
  font-weight: bold;
  transition: 0.3s;
}

.back-btn:hover {
  background: #ffe3ea;
}

.next-btn {
  text-decoration: none;
  background: #ffeb3b;
  padding: 12px 20px;
  border-radius: 12px;
  color: #d50000;
  font-weight: bold;
  transition: 0.3s;
  display: inline-block;
}

.next-btn:hover {
  background: white;
  transform: scale(1.05);
}

.playlist-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.song {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #ff1744;
  transition: 0.3s;
}

.song:hover {
  background: #ffe3ea;
  transform: scale(1.05);
}